html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
  background-color: #fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  word-break: keep-all;
}
*,
:after,
:before {
  box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
/** ------ reset css ------ */

/** ------ 전역변수 ------ */
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;

  --parent-padding: 1.5rem;

  /* 색상관련 */
  --primary-color: #202020;
  --revu-color: #e50b14;
  --white: #fff;
  --silver: #bcc5c7;
  --quicksilver: #a7a7a7;
  --lightsilver: #d9d9d9;
  --black: #000;
  --whitesmoke: #eeeeee;
  --whitewood: #f5f6f8;
  --snowwhite: #fafafa;
  --success-color: #00b500;
  --dimgray: #747474;
  --whitegray: #e4e4e4;
  --puregray: #e2e2e2;
  --darkred: #a1080e;
  --gray: #606060;
  --gray-01: #555555;
  --purple: #570be5;

  --n20-color: #f4f5f5;
  --n40-color: #e9ebec;
  --n60-color: #e2e4e4;
  --n80-color: #d8ddde;
  --n100-color: #bbc6c9;
  --n200-color: #a0acb1;
  --n300-color: #788991;
  --n400-color: #5a6a72;
  --n500-color: #415058;
  --n600-color: #29363d;
  --prim-L20: #fef0f1;
  --prim-L40: #fcc0c2;
  --prim-L60: #fba7ab;
  --prim-L80: #fa8f94;
  --prim-L100: #f9777d;
  --prim-L200: #f65f66;
  --prim-L300: #f6464e;
  --prim-L400: #f52e36;
  --prim-L500: #f4151f;

  /* 폰트관련 */
  --base-line-height: 1.4;
  --font-family-suit: "SUIT", sans-serif;
  --base-font-size: 1.6rem;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* 폰트계층 */
  /* H1 */
  --font-h1-size: 3rem;
  --font-h1-weight: var(--font-weight-extrabold);
  --font-h1-line-height: 1.2;
  --font-h1-letter-spacing: calc(var(--font-h1-size) * (-2 / 100));

  /* H2 */
  --font-h2-size: 2rem;
  --font-h2-weight: var(--font-weight-extrabold);
  --font-h2-line-height: 1.4;
  --font-h2-letter-spacing: calc(var(--font-h2-size) * (-0.3 / 100));

  /* H3 */
  --font-h3-size: 1.8rem;
  --font-h3-weight: var(--font-weight-bold);
  --font-h3-line-height: 1.4;
  --font-h3-letter-spacing: calc(var(--font-h3-size) * (-0.5 / 100));

  /* H4 */
  --font-h4-size: 1.6rem;
  --font-h4-weight: var(--font-weight-extrabold);
  --font-h4-line-height: 1.4;
  --font-h4-letter-spacing: calc(var(--font-h4-size) * (-2 / 100));

  /* H5 */
  --font-h5-size: 1.5rem;
  --font-h5-weight: var(--font-weight-bold);
  --font-h5-line-height: 1.4;
  --font-h5-letter-spacing: calc(var(--font-h5-size) * (-0.3 / 100));

  /* title */
  --font-title-size: 1.4rem;
  --font-title-weight: var(--font-weight-bold);
  --font-title-line-height: 1.4;
  --font-title-letter-spacing: calc(var(--font-title-size) * (-0.5 / 100));

  /* bodyL */
  --font-bodyL-size: 1.4rem;
  --font-bodyL-weight: var(--font-weight-medium);
  --font-bodyL-line-height: 1.4;
  --font-bodyL-letter-spacing: calc(var(--font-bodyL-size) * (-0.3 / 100));

  /* bodyM */
  --font-bodyM-size: 1.4rem;
  --font-bodyM-weight: var(--font-weight-medium);
  --font-bodyM-line-height: 1.3;
  --font-bodyM-letter-spacing: calc(var(--font-bodyM-size) * (-0.3 / 100));

  /* Callout */
  --font-callout-size: 1.4rem;
  --font-callout-weight: var(--font-weight-bold);
  --font-callout-line-height: 1.4;
  --font-callout-letter-spacing: calc(var(--font-callout-size) * (-0.5 / 100));

  /* Callout Small */
  --font-callout-small-size: 1rem;
  --font-callout-small-weight: var(--font-weight-bold);
  --font-callout-small-line-height: 1.4;
  --font-callout-small-letter-spacing: calc(
    var(--font-callout-small-size) * (-2 / 100)
  );

  /* Caption */
  --font-caption-size: 1.2rem;
  --font-caption-weight: var(--font-weight-medium);
  --font-caption-line-height: 1.4;
  --font-caption-letter-spacing: calc(var(--font-caption-size) * (-0.5 / 100));

  /* Caption small */
  --font-caption-small-size: 1rem;
  --font-caption-small-weight: var(--font-weight-bold);
  --font-caption-small-line-height: 1.4;
  --font-caption-small-letter-spacing: calc(
    var(--font-caption-small-size) * (-2 / 100)
  );
}
/** ------ 전역변수 ------ */

body,
.app-bar,
.bottom-tab-bar {
  max-width: 768px;
  min-width: 375px;
  font-family: var(--font-family-suit);
  font-weight: var(--font-weight-light);
  color: var(--primary-color);
  font-size: var(--base-font-size);
  word-break: break-all;
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2")
    format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2")
    format("woff2");
}

button {
  font-size: var(--font-callout-size);
  font-weight: var(--font-callout-weight);
  line-height: var(--font-callout-line-height);
  letter-spacing: var(--font-callout-letter-spacing);
}
input::placeholder {
  font-size: 1.4rem;
  font-weight: var(--font-weight-light);
  line-height: var(--base-line-height);
  letter-spacing: 0;
  color: var(--n200-color);
}
input:focus::placeholder {
  opacity: 0;
}
.textfield input:focus {
  border: 0.1rem solid var(--n600-color);
  outline: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/** 태블릿 */
@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}
